@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Thin.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-ThinItalic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Extralight.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-ExtralightItalic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-LightItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-RegularItalic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-SemiboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-BoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Black.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-BlackItalic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-Super.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('Graphik-SuperItalic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Document level adjustments */
html {
  font-size: 14px;
  font-weight: 400;
  font-family: Graphik, sans-serif;
  color: black;
}

/* Easy styling classes */
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.normal {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.white {
  color: white;
}
.purple {
  color: #7921E9;
}
.linepurple {
  display: inline;
  white-space: pre-wrap;
  box-shadow: rgba(121, 33, 233, 0.24) 0px -2rem 0px inset;
  padding: 0;
  @media all and (max-width: 450px){
    box-shadow: rgba(121, 33, 233, 0.24) 0px -1.1rem 0px inset;
  }
}
.textcenter {
  text-align: center;
}

body {
  font-family: 'Graphik';
}

h1, h2, h3, h4, p, a, form {
  font-family: 'Graphik';
}

