<div class="container mt-3 mb-3 d-flex flex-column">
  <h2>Paiement</h2>
  <label for="">Prénom du porteur de la carte</label>
  <input type="text">
  <label for="">Nom du porteur de la carte</label>
  <input type="text">
  <label for="">Type de carte</label>
  <input type="text">
  <label for="">Numéro de carte</label>
  <input type="text">
</div>
