<div id="moderation">
  <div class="page-moderation">
    <div class="page-moderation-left">
      <%= image_tag 'page-connexion/page-moderation.jpg' %>
    </div>
    <div class="page-moderation-right text-center">
      <div class="page-moderation-right-content">
        <%= image_tag 'logo.png', class:'logo' %>
        <h2 class="title">MERCI POUR VOTRE INSCRIPTION </h2>
        <p>
          Votre profil professionnel est en cours de modération. <br>
          Vous recevrez un e-mail pour vous prévenir dès qu’il sera validé et vous pourrez ainsi donner vos premiers cours en ligne.
        </p>
        <%= link_to '/home' do %>
          <button class='btn-rectangle'> Ok </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
