<div id="homepage1">
    <h1 class="bold white">Trouvez votre prochain cours de [ <span>sport</span> ] live !</h1>
    <button class='hp-button semi-bold'>Voir les activités proposées</button>
</div>
