<div id="homepage1">
  <h1 class="bold white">Trouvez votre prochain cours de [ <span>sport</span> ] live !</h1>
  <button class='hp-button semi-bold'>Voir les activités proposées</button>
</div>
<div id="homepage2">
  <div class="grouped-exp">
    <div class="exponations">
      <h1 class="bold">1</h1>
      <div class="sub1">
        <h2 class="bold">Trouvez votre cours</h2>
        <p>Choisissez votre activité, votre jour, l’horaire qui vous convient et découvrez nos coachs.</p>
      </div>
    </div>
    <div class="exponations">
      <h1 class="bold">2</h1>
      <div class="sub1">
        <h2 class="bold">Réservez</h2>
        <p>Réservez le cours de votre choix 24h/24 et 7j/7 et payez uniquement les cours réservés.</p>
      </div>
    </div>
    <div class="exponations">
      <h1 class="bold">3</h1>
      <div class="sub1">
        <h2 class="bold">Vivez l’expérience live</h2>
        <p>Connectez-vous et vivez pleinement votre cours en direct, sur votre ordinateur, tablette ou votre mobile.</p>
      </div>
    </div>
  </div>
</div>
<div id="homepage3">
  <h2>Livesson, d<span class="linepurple">es cours du monde entier à portée</span> de main grâce au live</h2>
</div>
<div id="homepage3responsive">
  <h2>Livesson, des cours du <span class="linepurple">monde entier à portée</span> de main grâce au live</h2>
</div>
<div id="homepage4">
  <div class="flexify">
    <div class="sub2">
      <h2>Des professeurs du monde entier</h2>
      <p>Livesson permet de faire tomber les frontières. Choisissez votre activité, la langue souhaitée et découvrez les cours en live de nos coachs du monde entier. Une réelle opportunité de voyager à travers vos activités préférées : Yoga, pilate, renforcement musculaire, cardio training, danse classique …</p>
    </div>
    <%= image_tag "homepage/screenshot-homepage.jpg", class: 'image-homepage' %>
  </div>
  <div class="resp2">
    <%= image_tag "homepage/screenshot-homepage2.png", class: 'image-homepage' %>
    <div class="sub3">
      <h2>L’accès aux cours n’importe où, n’importe quand</h2>
      <p>Réservez votre cours et connectez-vous depuis votre orinateur, votre tablette ou votre mobile et suivez votre activité en live n’importe où que vous soyez. Besoin d’une pause sportive entre 12h et 14h ? A 21h, une fois que les enfants sont couchés ? C’est désormais possible ! </p>
    </div>
  </div>
  <div class="resp">
    <div class="sub2">
      <h2>L’accès aux cours n’importe où, n’importe quand</h2>
      <p>Réservez votre cours et connectez-vous depuis votre orinateur, votre tablette ou votre mobile et suivez votre activité en live n’importe où que vous soyez. Besoin d’une pause sportive entre 12h et 14h ? A 21h, une fois que les enfants sont couchés ? C’est désormais possible ! </p>
    </div>
    <%= image_tag "homepage/screenshot-homepage2.png", class: 'image-homepage' %>
  </div>
  <div class="flexify">
    <div class="sub2">
      <h2>Pas d’abonnement, pas d’engagement</h2>
      <p>Livesson vous offre la liberté absolue : pas d’abonnement, pas d’engament, vous payez uniquement à chaque cours réservé.</p>
    </div>
    <%= image_tag "homepage/screenshot-homepage3.png" %>
  </div>
</div>
