<div id="homepage5">
  <div class="banner-text">
    <h1 class="bold black">
      Professeur de [ <span>sport</span> ] ?<br>
      Rejoignez Livesson et donnez votre<br>
      premier cours en live !
    </h1>
    <button class='hp-button semi-bold'>M'inscrire</button>
  </div>
</div>
<div id="homepage6">
  <h2>Avec Livesson, proposer un cours en ligne <span class="linepurple">n’aura jamais été aussi simple. </span></h2>
</div>
<div id="homepage6responsive">
  <h2>Livesson, des cours du <span class="linepurple">monde entier à portée</span> de main grâce au live</h2>
</div>
<div id="homepage7">
  <div class="flexify">
    <div class="exponations">
      <h1 class="bold">1</h1>
      <div class="sub3">
        <h2>Gagnez en visbilité</h2>
        <p>Gagnez en visibilité en entrant dans la communauté Livesson. Créez votre profil, présentez-vous, gérez votre agenda et proposez vos premiers cours en ligne en live. Faites tomber les frontières grâce à Livesson et faites vous connaître de nouveaux élèves du monde entier.</p>
      </div>
    </div>
    <%= image_tag "homepage/screenshot-homepage.jpg", class: 'image-homepage' %>
  </div>
  <div class="resp2">
    <%= image_tag "homepage/screenshot-homepage2.png", class: 'image-homepage' %>
    <div class="exponations">
      <h1 class="bold">2</h1>
      <div class="sub3">
        <h2>Générez de nouveaux revenus</h2>
        <p>Générez de nouveaux revenus grâce à Livesson : pas d’abonnement, ni d’engagement. Vous fixez vous-même les tarifs de vos cours et Livesson se rémunère en prélèvant une commission de 15% des revenus générés sur la plateforme.</p>
      </div>
    </div>
  </div>
  <div class="resp">
    <div class="exponations">
      <h1 class="bold">2</h1>
      <div class="sub3">
        <h2>Générez de nouveaux revenus</h2>
        <p>Générez de nouveaux revenus grâce à Livesson : pas d’abonnement, ni d’engagement. Vous fixez vous-même les tarifs de vos cours et Livesson se rémunère en prélèvant une commission de 15% des revenus générés sur la plateforme.</p>
      </div>
    <%= image_tag "homepage/screenshot-homepage2.png", class: 'image-homepage' %>
    </div>
  </div>
  <div class="flexify">
    <div class="exponations">
      <h1 class="bold">3</h1>
      <div class="sub3">
        <h2>Laissez-vous guider</h2>
        <p>Bénéficiez d’un service tout en un : un service de diffusion de vidéos en live, un système de paiements sécurisés intégré (opéré par Stripe), des rappels envoyés automatiquement par sms à vos élèves en début de cours … inscrivez-vous sur Livesson et laissez-vous guider.</p>
      </div>
    </div>
    <%= image_tag "homepage/screenshot-homepage2.png", class: 'image-homepage' %>
  </div>
  <div class="flexify">
    <div class="sub2">
      <h2>Rejoignez Livesson et donnez votre premier cours en live !</h2>
      <button class='hp-button semi-bold'>M'inscrire</button>
    </div>
  </div>
</div>
