<div id="homepage1">
    <h1 class="bold white">Trouvez votre prochain cours de [ <span>sport</span> ] live !</h1>
    <button class='hp-button semi-bold'>Voir les activités proposées</button>
</div>
<div id="homepage2">
  <div class="grouped-exp">
    <div class="exponations">
      <h1>1</h1>
      <div class="sub1">
        <h2>Trouvez votre cours</h2>
        <p>Choisissez votre activité, votre jour, l’horaire qui vous convient et découvrez nos coachs.</p>
      </div>
    </div>
    <div class="exponations">
      <h1>2</h1>
      <div class="sub1">
        <h2>Réservez</h2>
        <p>Réservez le cours de votre choix 24h/24 et 7j/7 et payez uniquement les cours réservés.</p>
      </div>
    </div>
    <div class="exponations">
      <h1>3</h1>
      <div class="sub1">
        <h2>Vivez l’expérience live</h2>
        <p>Connectez-vous et vivez pleinement votre cours en direct, sur votre ordinateur, tablette ou votre mobile.</p>
      </div>
    </div>
  </div>
</div>
<div id="homepage3">
  <h2>Livesson, d<span class="linepurple">es cours du monde entier à portée</span> de main grâce au live</h2>
</div>
<div id="homepage4">

</div>
<div id="homepage5">

</div>
<div id="homepage6">

</div>
