<div class="page-connexion">
  <div class="page-connexion-left">
    <%= image_tag 'page-connexion/page-connexion-inscription-image.jpg' %>
  </div>
  <div class="page-connexion-right">
    <div class="page-connexion-right-confirmation">
      <h2 class="title">Inscription</h2>
caca
      <p class="bold">Félicitations, votre inscription est bien prise en compte ! </p>
      <p>Un e-mail vous a été envoyé pour valider votre adresse e-mail et vous permettre de créer votre profil !</p>
      <br>
      <p>Vous ne l'avez pas reçu ? <%= link_to root_path do %> <span class="bold"> Renvoyer l'email de confirmation</span><% end %></p>
    </div>
  </div>
</div>
