.card {
  width: 670px;
  height: 160px;
  border: 1px solid $light-gray;
  display: flex;
  align-items: center;
  flex-direction: row;
  p {
    margin-bottom: 0;
  }
  .image {
    img {
      height: 160px;
      width: 160px;
    }
  }
  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    .lesson-type {
      color: $purple;
    }
    .lesson-level, .lesson-language {
      color: $light-gray;
    }
    .lesson-teacher {
      color: black;
    }
    .lesson-notation {
      color: $blue;
      span.__number {
        color: $light-gray;
      }
    }
    .lesson-price {
      color: $purple;
    }
    .lesson-duration {
      color: $light-gray;
    }
  }
}
