footer{
  #footer-gray{
    width: 100%;
    height: 65px;
    background-color: $light-gray;
    .left-part{
      display: flex;
      justify-content: flex-start;
      a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        line-height: 24px;
        font-family: 600;
        margin: 0px 25px;
      }
    }
    .right-part{
      display: flex;
      justify-content: flex-end;
      a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        line-height: 24px;
        font-family: 600;
        margin: 0px 25px;
      }
    }
  }
}
