#form-prof{
  .form-flexify{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  p{
    width: 500px;
  }
  .form-left-part{
    margin-right: 55px;
    img{
      width: 170px;
      margin-bottom: 25px;
    }
    .flexify{
      display: flex;
      .nom-prenom{
        .form-group{
          width: 335px;
          margin-left: 35px;
        }
      }
    }
  }
  .form-right-part{
    margin-left: 55px;
    .flexify{
      display: flex;
      justify-content: space-between;
      img{
        width: 28px;
        padding-bottom: 20px;
      }
      input#eleve_instagram, input#eleve_facebook{
        width: 455px;
      }
    }
  }
}
#edit-form-prof{
  margin-top: 20px;
  .form-flexify{
    display: flex;
    // align-items: center;
    h2{
      font-size: 32px;
      line-height: 48px;
      font-family: 700;
    }
    .form-left-part{
      margin-right: 55px;
      form{
        width: 545px;
        margin-bottom: 20px;
      }
      .flexify{
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        img{
          width: 28px;
          padding-bottom: 20px;
        }
        input#eleve_instagram, input#eleve_facebook{
          width: 455px;
        }
      }
      .btn-rectangle{
        height: 48px;
        width: 197px;
      }
    }
    .form-right-part{
      margin-left: 55px;
      // margin-right: 55px;
      width: 100%;
      height: 100%;
    }
  }
}
