#form-eleve{
  margin-top: 20px;
  .form-flexify {
    display: flex;
    align-items: center;
  }
  p{
    width: 500px;
  }
  .form-left-part{
    margin-right: 55px;
    .form-group.file.optional.eleve_profile_picture{
      align-items: center;
    }
    .upload-photo {
      text-align: center;
      align-items: center;
      border: 2px dotted $gray;
      padding: 78px 24px;
      cursor: pointer;
      background: white;
      border-radius: 50%;
      color: $gray;
      font-size: 80px;
      font-weight: 300;
      width: 170px;
      height: 170px;
    }
    img{
      width: 170px;
      margin-bottom: 25px;
    }
    .btn-rectangle{
      height: 48px;
      width: 197px;
    }
    .flexify{
      display: flex;
      .nom-prenom{
        .form-group{
          width: 335px;
          margin-left: 35px;
        }
      }
    }
    .form-profil {
      h2 {
        margin-bottom: 20px;
      }
      .eleve_sex{
        .col-form-label, abbr{
          display: none;
        }
        .checkbox-container{
          display: flex;
          align-items: center;
          .form-check{
            padding-left: 0;
            padding-right: 1.25rem;
            label{
              margin-left: 5px;
            }
            input{
              margin-right: 0;
            }
          }
        }
      }
      fieldset {
        legend {
          display: none;
        }
      }
    }
  select:invalid, option:nth-child(1){
        color: #6c757d !important;
      }
  }
  .form-right-part{
    margin-left: 55px;
    img {
      width: 777px;
      height: 518px;
    }
    .form-paiement {
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 20px;
      }
      input {
        width: 544px;
        height: 48px;
      }
    }
  }
}
