.form-group {
  box-sizing: border-box;
  display: grid;
  margin-top: 1rem;
  abbr{
    display: none;
  }
  label{
    margin-bottom: 8px;
    font-size: 16px;
    color: #18273A;
    line-height: 16px;
  }
  input:hover{
    cursor: pointer;
  }
  input[type='text'], input[type='email'], input[type='password'], input[type='tel'] {
    clear: both;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: solid 1px rgba(28, 28, 38, 0.15);
    background-color: transparent;
    box-sizing: border-box;
  }
  input[type="radiobutton"] + label {
    display: flex;
    align-items: center;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  input[type="radiobutton"] {
    display: inline;
  }
  input[type="radiobutton"]:focus {
    outline: none;
  }
  // input[type="radiobutton"] + label:before {
  //   content: "\2714";
  //   border: 0.1em solid rgba(28, 28, 38, 0.15);
  //   border-radius: 0.2em;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 1em;
  //   height: 1em;
  //   padding: 0.1em;
  //   margin-right: 8px;
  //   vertical-align: bottom;
  //   color: transparent;
  //   transition: 0.2s;
  // }

  input[type="radiobutton"] + label:active:before {
    transform: scale(0);
  }
  input[type="radiobutton"]:checked + label:before {
    background-color: #7921E9;
    border-color: #7921E9;
    color: white;
  }
  textarea {
    height: 319px;
  }
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: solid 1px rgba(28, 28, 38, 0.15);
    background-color: transparent;
    // background: transparent url(others/sort-down-solid.svg) 95% 40% / 1rem no-repeat;
    font-size: 14px;
    width: 100%;
  }
  select:focus{
    outline: none;
  }
  small {
    clear: left;
    margin-left: 16px;
    margin-top: 3px;
    color: #18273A;
    font-weight: 400;
    display: block;
    font-style: italic;
  }
}
.form-popup {
  z-index: 10;
  display: none;
  position: absolute;
  top: 70px;
  right: 0px;
  box-shadow: -3px 3px 4px 3px rgba(0, 0, 0, 0.2);
  width: 370px;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  background-color: white;
  i{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
  }
  i:hover{
    cursor: pointer;
  }
  p, .offre_ponctuelle{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  h2{
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: $purple;
    font-weight: 600;
  }
  select:invalid, option:nth-child(1){
    color: #6c757d !important;
  }
  form#new_lesson, form#new_template{
    margin: 20px;
    select{
      height: 36px;
    }
    select#lesson_lesson_duration, option:nth-child(1){
      color: #6c757d !important;
    }
    .offre_ponctuelle {
      label {
        font-size: 16px;
      }
    .lesson_lesson_discount_price {
      display: none;
    }
    }
  }

}

  #closing-cross, #close-template, #close-lesson {
    width: 26px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  #close-template, #close-lesson {
    top: 10px;
  }
