#form-changement-email-mdp{
  margin-top: 20px;
  .form-flexify {
    display: flex;
    align-items: center;
    h2{
      font-size: 32px;
      line-height: 48px;
      font-family: 700;
    }
  }
  .form-left-part{
    margin-right: 55px;
    form{
      width: 545px;
      margin-bottom: 20px;
    }
    .btn-rectangle{
      height: 48px;
      width: 197px;
    }
  }
  .form-right-part{
    margin-left: 55px;
    img {
      width: 842px;
    }
  }
}
