#form-prof{
  .form-flexify{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  p{
    width: 500px;
  }
  .form-left-part{
    margin-right: 55px;
    .profil-picture-prof{
      width: 170px;
      // height: 158px;
    }
    .flexify{
      display: flex;
      .nom-prenom{
        .form-group{
            width: 335px;
            margin-left: 35px;
          }
      }
    }
  }
  .form-right-part{
    margin-left: 55px;
  }
}
