#email-mdp{
  .form-flexify{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .form-left-part{
    margin-right: 55px;
  }
  .form-right-part{
    margin-left: 55px;
  }
}
