#homepage1{
  height: calc(80vh - 80px);
  background-image: url("homepage/banner-homepage.svg");
  background-size: cover;
  background-position-y: bottom;
  text-align: center;
  h1{
    font-size: 38px;
    line-height: 56px;
    color: white;
    padding-top: 39px;
    span{
      color: $purple;
    }
  }
  button{
    margin-top: 24px;
  }
}

#homepage2{
  .grouped-exp{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exponations{
    display: flex;
    align-items: center;
  }
}
