#templates-new{
  .flexify{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
    h2{
      // font-size: 32px;
      // line-height: 48px;
      // margin-top: 25px;
      // margin-left: 80px;
    }
  .form-popup {
    display: none;
    position: absolute;
    top: 70px;
    right: 0px;
    box-shadow: -3px 3px 4px 3px rgba(0, 0, 0, 0.2);
    width: 370px;
    z-index: 100;
    background-color: white;
    i{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
    }
    i:hover{
      cursor: pointer;
    }
    h2{
      text-align: center;
      padding-top: 30px;
      font-size: 16px;
      line-height: 24px;
      color: $purple;
      font-weight: 600;
    }
    form#new_lesson, form#new_template{
      margin: 20px;
      select{
        height: 36px;
      }
    }
  }
  .card{
    width: 100%;
    height: 180px;
    margin-bottom: 25px;
    .card-content{
      display: flex;

      .card-content-left{
        margin: 20px;
        width: 250px;
        p{
          font-size: 16px;
          line-height: 24px;
        }
        .template-name{
          color: $purple;
          letter-spacing: 0.67px;
          text-transform: uppercase;
        }
      }
      .card-content-right{
        width: 100%;
        margin: 20px;
        p{
          font-size: 16px;
          line-height: 20px;
          margin-top: 0px;
          margin-bottom: 0px;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 75ch;
        }
        .card-content-right-top{
          margin-bottom: 15px;
          p:last-child{
            color: blue;
          }
        }
        .card-content-right-bottom{
          p:last-child{
            color: blue;
          }
        }
      }
    }
  }
}
