.reservations-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#mes-reservations {
  min-height: calc(100vh - 70px);

  .card-reservation {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    padding: 20px 20px;
    margin: 10px 0;
  }

  .card-reservation-left p {
    margin-bottom: 5px;
  }
  .card-reservation-centre {
    p {
      width: 80%
    }
  }

  .card-reservation-right {
    a.btn-rectangle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
    }
    a.btn-rectangle:hover {
      color: white;
      font-weight: 500;
    }

    .video-call-icon {
      width: 20px;
      margin-right: 10px;
    }
  }

  .modal-header, .modal-footer {
    border: none;
  }

  .modal-header, .modal-footer {
    display: block;
    position: relative;
    text-align: center;
  }

  .modal-header button {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .modal-header button img {
    width: 25px;
  }

  .modal-body {
    margin: 0 auto;
  }
  .modal-body ul {
    list-style: none;
    padding-left: 0;
    text-align: center
  }

  .modal-add-review {
    .modal-dialog {
      max-width: 600px;
    }
    .modal-content {
      padding: 20px;
    }
    .modal-body {
      width: 80%;
    }
  }
  .form-group.review_rating {
    width: max-content;
    margin: 10px auto;
  }

  .form-group textarea {
    height: 150px;
  }

  .form-popup {
    display: none;
    position: absolute;
    top: 70px;
    right: 0px;
    box-shadow: -3px 3px 4px 3px rgba(0, 0, 0, 0.2);
    width: 370px;
    z-index: 100;
    background-color: white;
    i{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
    }
    h2{
      text-align: center;
      padding-top: 30px;
      font-size: 16px;
      line-height: 24px;
      color: $purple;
      font-weight: 600;
    }
    form#new_lesson, form#new_template{
      margin: 20px;
      select{
        height: 36px;
      }
    }
  }
  .card{
    width: 100%;
    height: 180px;
    margin-bottom: 25px;
    .card-content{
      display: flex;

      .card-content-left{
        margin: 20px;
        width: 250px;
        p{
          font-size: 16px;
          line-height: 24px;
        }
        .template-name{
          color: $purple;
          letter-spacing: 0.67px;
          text-transform: uppercase;
        }
      }
      .card-content-right{
        width: 100%;
        margin: 20px;
        p{
          font-size: 16px;
          line-height: 20px;
          margin-top: 0px;
          margin-bottom: 0px;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 75ch;
        }
        .card-content-right-top{
          margin-bottom: 15px;
          p:last-child{
            color: blue;
          }
        }
        .card-content-right-bottom{
          p:last-child{
            color: blue;
          }
        }
      }
    }
  }
}
