.search-bar-lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  select, input {
    width: 228px;
    color: black;
    option {
      padding-left: 20px;
    }
  }

  input {
    width: 228px;
    &::placeholder {
      color: black;
    }
  }

  #query_sport_name {
    background-color: $purple;
    color: white;
  }
}
