.search-bar-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  padding-left: 20px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  border: 1px solid $light-gray;
  font-size: 18px;
  i.fa-search {
    margin-right: 10px;
    font-size: 20px;
    color: $gray;
  }
  input {
    min-width: 330px;
    border: transparent;
  }
}

@media all and (max-width: 1024px){
  .search-bar-navbar {
    font-size: 14px;
    i.fa-search {
      font-size: 16px;
    }
    input {
      min-width: 280px;
      border: transparent;
    }
  }
}

@media all and (min-width: 1900px){
  .search-bar-navbar {
    font-size: 14px;
    i.fa-search {
      font-size: 18px;
    }
    input {
      min-width: 550px;
      border: transparent;
    }
  }
}
