#lesson-show {
  height: calc(100vh - 80px);
  display: flex;
  p {
    font-size: 16px;
  }

  .flexify {
    display: flex;
  }
  .space-between {
    justify-content: space-between;
  }

  .show-lesson {
    min-height: 400px;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.2);
    padding: 20px;
    p {
      line-height: 24px;
      font-size: 16px;
      margin: 0px 10px 0px 10px;
    }
    .lesson-name{
      color: $purple;
      letter-spacing: 0.67px;
    }
    .lesson-price{
      color: $purple;
      font-size: 18px;
      line-height: 32px;
    }
    .lesson-teacher, .lesson-description, .lesson-material{
      font-weight: 500;
    }
  }

  .container-show-prof {
    padding: 20px 30px;

    .image-profil {
      margin-right: 30px;
    }
    .image-profil img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }

    .bold {
      font-weight: 500;
    }
  }
}
