#templates-new{
  .form-popup {
    display: none;
    position: absolute;
    top: 70px;
    right: 0px;
    box-shadow: -3px 3px 4px 3px rgba(0, 0, 0, 0.2);
    width: 370px;
    i{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
    }
    h2{
      text-align: center;
      padding-top: 30px;
      font-size: 16px;
      line-height: 24px;
      color: $purple;
      font-weight: 600;
    }
    form#new_lesson, form#new_template{
      margin: 20px;
      select{
        height: 36px;
      }
    }

  }
}
